extends ../layout.jade

block content
  h1= title
  form(name='addCollection', method='post', action=collection ? '/update-collection/' + collection._id : '/create-collection').new-form
    ul
      li
        label(for='name') Name
        input(type='text', id='name', name='name', value=collection && collection.name ? collection.name : '')

    button(type='submit') Save