.list-container(ng-cloak)
  h1.list-title list title
  //- h1.list-title {{selectedList.name}}
  .list-item(ng-repeat='item in selectedList.items | orderBy: "-votes.length"', ng-show='item.title')
    .rank {{$index + 1}}
    .cover
      img(ng-src='{{item.smallImage}}')
    .info
      a(ng-href='{{item.detailPageUrl}}', target='_blank').title {{item.title}}
      .author by {{item.author}}
      div(class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true")
    .vote-div
      .votes
        span(title='Votes').vote-count {{item.votes.length}}
      .upvote(ng-click='upvote(item)')
        //- .arrow-up(ng-class='{upvoted: false}')

  .add-new-item
    button(ng-hide='openAddItem', ng-click='openAddItem = openAddItem ? false : true').add-to-list &#65291; Add To List

  .add-item(ng-show='openAddItem').md-wrap
    am-search(list='selectedList', new-item='selectedItem')
    button(ng-show='selectedItem.title', ng-click='addItemToList()') &#65291; Add {{itemType}}