extends ../layout.jade

block content
  h1= title
  form(name='addItem', method='post', action=item ? '/update-item/' + item._id : '/create-item').new-form
    ul
      li
        label(for='name') Name
        input(type='text', id='name', name='name', value=item && item.name ? item.name : '')
      li
        label(for='collectionId') Collection ID
        select(type='text', id='collectionId', name='collectionId', value=item && item.collectionId ? item.collectionId : '')

    button(type='submit') Save