extends ../layout.jade

block content
  h1= title
  form(name='addItem', method='post', action=item ? '/update-item/' + item._id : '/create-item').new-form
    ul
      li
        label(for='name') Name
        input(type='text', id='name', name='name', value=item && item.name ? item.name : '')
      li
        label(for='collectionId') Collection ID
        select(ng-model='selectedList', ng-options='list._id as list.name for list in lists')
    button(type='submit') Save

  div {{selectedList}}
  div(ng-repeat='list in lists') {{list.name}}

  script.
    var lists = !{JSON.stringify(lists)}
    console.log('lists', lists)