doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/#{alias}.css', type='text/css')
  body
    block content


  block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js')
    script(src='/javascripts/#{alias}.js')