.am-search
  form(name='amSearchForm', ng-submit='searchAmBooks()')
    input(type='text', ng-model='searchParam')
    button(type='submit') Search

  img(ng-show='searching', src='/images/loading.gif').loader
  .search-item(ng-hide='newItem.title || searching', ng-repeat='item in searchResults', ng-click='setSelectedItem(item)')
    .cover
      img(ng-src='{{item.smallImage}}')
    .info
      .title {{item.title}}
      .author by {{item.author}}

  .selected-item(ng-show='newItem.title')
    .search-item
      .cover
        img(ng-src='{{newItem.smallImage}}')
      .info
        .title {{newItem.title}}
        .author by {{newItem.author}}
