.am-search {
  width: 100%;
  margin: auto;
  max-width: 600px;
  box-sizing: border-box;
}
.am-search form {
  margin-bottom: 10px;
}
.am-search input {
  width: 83%;
  height: 35px;
  font-size: 16px;
  padding-left: 7px;
  box-sizing: border-box;
}
.am-search button {
  width: 17%;
  height: 35px;
  min-width: 45px;
  line-height: 33px;
}
.am-search .search-item {
  width: 100%;
  padding: 4px;
  margin-bottom: 2px;
  box-sizing: border-box;
}
.am-search .search-item:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.am-search .search-item > div {
  display: inline-block;
}
.am-search .search-item .cover {
  width: 50px;
  height: 75px;
}
.am-search .search-item .cover img {
  width: 100%;
}
.am-search .search-item .info {
  width: 77%;
  margin-left: 12px;
  vertical-align: top;
}
.am-search .search-item .info .title {
  font-size: 16px;
}
.am-search .search-item .info .author {
  font-size: 11px;
  margin-top: 3px;
  font-weight: 300;
}
html {
  font-family: 'Lato' sans-serif;
}
ul {
  list-style: none;
  padding-left: 0px;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  padding: 7px;
}
