extends ../layout.jade

block content
  h1 {{selectedList.name}}
  div(ng-repeat='item in selectedList.items') {{item.name}}

  a(href='', ng-hide='openAddItem', ng-click='openAddItem = openAddItem ? false : true') Add New Item

  .add-item(ng-show='openAddItem')
    am-search(list='selectedList', new-item='selectedItem')

  script.
    var list = !{JSON.stringify(list)}
