@import 'mixins'

html
  font-family 'Lato' sans-serif

ul
  list-style none
  padding-left 0px

.loader
  width 40px
  opacity 0.2
  display block
  margin 0 auto

#menu
  ul
    li
      display inline

      a
        padding 7px


@import 'directives'
