@import 'mixins'

html
  font-family 'Lato' sans-serif

[ng\:cloak]
[ng-cloak]
.ng-cloak
  display none !important

body
  margin 0px
  color #3E4044

.wrap
  margin auto
  max-width 850px

.header
  z-index 1
  width 100%
  padding 10px
  position fixed
  background-color #fff
  box-sizing border-box
  -webkit-box-shadow 0px 1px 7px 0px rgba(195, 195, 195, 0.36)
  -moz-box-shadow 0px 1px 7px 0px rgba(195, 195, 195, 0.36)
  box-shadow 0px 1px 7px 0px rgba(195, 195, 195, 0.36)

  .list-title
    margin 5px
    display inline-block

ul
  list-style none
  padding-left 0px

a
  color inherit
  text-decoration none

.back-btn
  float right
  padding 7px 10px
  color primary-color

button
  color #fff
  height 35px
  border none
  cursor pointer
  font-size 15px
  line-height 32px
  background-color primary-color

input
  height 35px
  font-size 16px
  padding-left 7px
  box-sizing border-box
  border 1px solid #E7E7E7

input:focus
  outline none
  box-sizing border-box
  border 1px solid primary-color

#container
  padding-top 80px

.loader
  width 40px
  opacity(20)
  display block
  margin 0 auto

.login
  float right
  margin-top 15px
  display inline-block

.login-box
  top -160px
  left 0px
  right 0px
  z-index 1
  margin auto
  height 150px
  position fixed
  max-width 450px
  min-width 320px
  border-top none
  background-color #FFF
  border 1px solid #DBDBDB
  border-top none

  &.show-login-box
    top 0px

  a.login-with-fb
    color #FFF
    width 270px
    height 40px
    margin auto
    display block
    font-size 15px
    margin-top 50px
    padding-left 10px
    line-height 38px
    position relative
    text-align center
    text-transform uppercase
    background-color #3B5998

    img
      top 8px
      left 22px
      height 25px
      position absolute

  p
    font-size 0.8em
    font-weight 300
    text-align center

#menu
  display inline-block

  ul
    margin 0px

    li
      display inline

      a
        padding 7px

.login-signup
  width 250px
  margin 0 auto

  input
    width 100%
    border none
    margin 5px 0px

    &:focus
      border-bottom 2px solid primary-color

  button
    width 100%
    margin-top 20px

.md-wrap
  width 600px
  margin 0 auto

.list-container
  margin auto

  .comment-block
    text-align center

  .item-comments
    cursor pointer
    font-size 0.8em
    font-weight 300
    position relative

.caret
  cursor pointer
  position relative

  &:before
    top 25%
    left 5px
    content ''
    position absolute
    border-top 5px solid transparent
    border-bottom 5px solid transparent
    border-left 5px solid #999

  &:after
    top 25%
    left 4px
    content ''
    position absolute
    border-top 5px solid transparent
    border-bottom 5px solid transparent
    border-left 5px solid #fff

  &.open-caret
    &:before
    &:after
      -moz-transform rotate(90deg)
      -webkit-transform rotate(90deg)
      -ms-transform rotate(90deg)
      -o-transform rotate(90deg)

    &:after
      top 20%
      left 5px

.loading
  top 0px
  left 0px
  right 0px
  bottom 0px
  width 25px
  margin auto
  height 25px
  position absolute
  background-size 25px
  background-image url("/images/loading.gif")
  background-repeat no-repeat
  background-position 50% 50%

.list-item
  width 100%
  padding 10px
  box-sizing border-box
  border-top 1px solid #F5F5F5
  border-bottom 4px solid #fff
  -webkit-transition border-color 0.2s ease
  -moz-transition border-color 0.2s ease
  -o-transition border-color 0.2s ease
  -ms-transition border-color 0.2s ease
  transition border-color 0.2s ease

  &:hover
    border-bottom 4px solid #F5F5F5
    -webkit-transition border-color 0.2s ease
    -moz-transition border-color 0.2s ease
    -o-transition border-color 0.2s ease
    -ms-transition border-color 0.2s ease
    transition border-color 0.2s ease

  > div
    vertical-align top
    display inline-block

  .rank
    width 65px
    font-size 2em
    text-align center
    vertical-align top
    margin 15px 5px 0px 0px

  .cover
    width 50px
    height 75px

    img
      width 100%

  .info
    width 72%
    margin-left 12px
    vertical-align top

    .title
      font-size 1.5em
      padding-top 10px

    .author
      font-size 0.8em
      margin-top 3px
      font-weight 300
      margin-bottom 10px

  .vote-div
    float right
    > div
      vertical-align top
      display inline-block

  .votes
    .vote-count
      padding 7px
      display block
      font-size 24px
      font-weight 300
      color primary-color

  .upvote
    padding 15px 2px

    .arrow-up
      width 0
      height 0
      border-bottom 13px solid #b8b8b8
      border-left 10px solid transparent
      border-right 10px solid transparent

      &.upvoted
        border-bottom 13px solid primary-color

    &:hover
      cursor pointer

      .arrow-up
        border-bottom 13px solid darken(primary-color, 10)

.add-new-item
  overflow hidden
  margin 20px 0px

.add-item
  padding-bottom 80px

  button
    float right

.add-to-list
  float right

.notify-box
  top 0
  left 0
  right 0
  width 100%
  z-index 99999
  position fixed

  .notifications
    top 0px
    width inherit
    position absolute

    .message
      top 0px
      left 0px
      opacity(95)
      width inherit
      position relative
      background-color #fff
      box-sizing border-box

      &.first-of-type
        border-top none

      &.error
        color #DA3232
        border-bottom 3px solid #DA3232

      &.success
        color #1BB303
        border-bottom 3px solid #1BB303

      &.warn
        color #FF9100
        border-bottom 3px solid #FF9100

      &.info
        color primary-color
        border-bottom 3px solid primary-color

      &.ng-leave
        transition all linear 0.4s
        -webkit-transition all linear 0.4s
        opacity(90)
        max-height 100px
        min-height 28px
        overflow hidden

      &.ng-leave-active
        opacity(30)
        max-height 1px
        min-height 1px
        overflow hidden

      &.ng-enter
        transition all linear 0.3s
        -webkit-transition all linear 0.3s
        opacity(10)
        max-height 1px
        min-height 1px
        overflow hidden

      &.ng-enter-active
        opacity(100)
        max-height 100px
        min-height 28px
        overflow hidden

      .msg-txt
        font-size 20px
        max-width 1100px
        margin-left auto
        padding 20px 30px
        text-align center
        margin-right auto

      .close-notification
        top 50%
        right 12px
        padding 4px
        font-size 18px
        cursor pointer
        position absolute
        transform translateY(-50%)

#veil
  top 0px
  left 0px
  right 0px
  bottom 0px
  width 100%
  opacity(80)
  height 100%
  position fixed
  background-color #FFF


@import 'directives'
